<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>AppHunt December Contest</title>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
<div>
    <div style="font-size:10pt;font-family:Verdana,Arial,Helvetica,sans-serif">
        <div style="font-size:10pt;font-family:verdana,arial,helvetica,sans-serif">
            <div style="color:rgb(0,0,0);font-family:verdana,arial,helvetica,sans-serif;font-size:10pt;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(255,255,255)">
                <div style="font-size:10pt;font-family:verdana,arial,helvetica,sans-serif">
                    <div style="font-size:10pt;font-family:verdana,arial,helvetica,sans-serif">
                        <div><img
                                src="https://copy.com/thumbs_public/imOtG1m3ga9p2qx8/giftcard2.png?size=512"
                                style="width:400px;min-height:133.075px"><br></div>
                        <div>
                            <div><br></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="color:rgb(0,0,0);font-family:verdana,arial,helvetica,sans-serif;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;font-size:13.3333px;background-color:rgb(255,255,255)">
                Hey {{dev.name}},<br></div>
            <div style="color:rgb(0,0,0);font-family:verdana,arial,helvetica,sans-serif;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;font-size:13.3333px;background-color:rgb(255,255,255)">
                <br></div>
            <div style="color:rgb(0,0,0);font-family:verdana,arial,helvetica,sans-serif;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;font-size:13.3333px;background-color:rgb(255,255,255)">
                I am Georgi from the AppHunt team,<br></div>
            <div style="color:rgb(0,0,0);font-family:verdana,arial,helvetica,sans-serif;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;font-size:13.3333px;background-color:rgb(255,255,255)">
                <br></div>
            <div style="color:rgb(0,0,0);font-family:verdana,arial,helvetica,sans-serif;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;font-size:13.3333px;background-color:rgb(255,255,255)">
                <div>I want to notify you that we will have a contest for the Top Hunters ranking starting from 01
                    December 2015 until 12:00 pm on 25 December 2015 (Christmas night). All of the Top Hunters for
                    December will receive gifts from the AppHunt team. Make sure to check out our<span>&nbsp;</span><a
                            href="http://blog.theapphunt.com/" target="_blank">blog</a><span>&nbsp;</span>and<span>&nbsp;</span><a
                            href="https://twitter.com/TheAppHunt" target="_blank">twitter account</a><span>&nbsp;</span>for
                    more details. We will notify you via email when the contest has started and about the gifts we have
                    prepared.<br></div>
                <div><br></div>
                <div>Stay tuned! :)<br></div>
            </div>
            <div><br></div>
        </div>
    </div>
</div>

</body>
</html>
